*
  box-sizing: border-box

html
  height: 100%

body
  background-color: rgb(20,12,28)
  color: #1B1421
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  font-size: 18px
  height: 100%
  margin: 0
  overflow: hidden
  user-select: none

canvas
  bottom: 0
  position: absolute
  top: 0
  left: 0
  right: 0
  margin: auto
  width: 1536px
  height: 864px
  image-rendering: -moz-crisp-edges
  image-rendering: -o-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: pixelated
  -ms-interpolation-mode: nearest-neighbor

.detail
  position: absolute
  right: 0
  height: 100%
  width: 300px
  background-color: #DEEED6
